<div class="container-mx bg-light  ">
  <div class="flex shadow-lg flex-container bg-gradient-to-r from-purple-500 to-pink-500 hover:bg-gradient-to-l">
    <div class="flex-none w-64  p-3">
      <span class="bg-clip-text text-white font-weight: boldbg-gradient-to-r from-pink-500 to-violet-500">
        @Admin
      </span>

    </div>
    <div class="flex-1 w-64  p-3">

    </div>
    <div class="flex-1  p-3">

    </div>
  </div>
  <div class="  container-mx  flex h-screen ">
    <div class="flex-none w-72 p-2 bor-2 shadow-md"></div>
    <div class="container ml-40 mh-full pt-20">
      <app-add-new-book></app-add-new-book>
    </div>
  </div>

</div>
