<div class=" shadow-md max-w-screen-md  rounded-lg  bg-gray-100 ">
<div class="container-mx  rounded-lg bg-gradient-to-r p-3 from-purple-500 to-pink-500 hover:bg-gradient-to-l  text-center">
   <span class="text-white text-xl font-sans "> Add New Book To Collection</span>
</div>
<div class=" p-4">
   <form>
      <div class="mb-3">
        <label for="Book Title" class="bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500">Book Title</label>
        <input type="email" class="w-full rounded-md  border-violet-500 " name="book-title" placeholder="eg:Book Title">
      </div>
     
      <div class="mb-3">
         <label for="Book Title" class="bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500">Image Url</label>
         <input type="email" class="w-full rounded-md  border-violet-500 " name="bookImageUrl" placeholder="eg:http://bookimage">
        </div>

        <div class="flex">
         <label class=" bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500 "for="Price">Price</label>
         <label class=" ml-56 bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500  mr-4"for="Pages">Pages </label>
         <label class=" ml-48 bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500  mr-4"for="Rating">Rating</label>
      </div> 

        <div class="flex justify-between">
        <input type="text" class="rounded-md  border-violet-500" placeholder="eg:200"  name="book">
        <input type="text" class="rounded-md  border-violet-500 " placeholder="eg:100"  name="book">
        <input type="text" class="rounded-md  border-violet-500 "placeholder="eg:7.5"   name="book">
        </div>

      <div class="mb-3 mt-3 ">
        <input type="checkbox" class="accent-pink-500" id="exampleCheck1">
        <label class=" ml-2 bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500" for="exampleCheck1">Check me out</label>
      </div>

      <div class="flex ">
         <span class="bg-clip-text  text-transparent bg-gradient-to-r from-pink-500 to-violet-500"> Description: </span>
      </div>
      <div>
         <textarea class="caret-violet-500 w-full rounded-md  border-violet-500" name="description"> </textarea>
   </div>

      <div class="flex gap-12 mt-8 justify-center text-white">
      <button type="submit" class=" mb-3 w-32 p-2  rounded-full to-violet-500 transition ease-in-out   hover:-translate-y-1 hover:scale-110 bg-gradient-to-r from-pink-500 to-violet-500 duration-300">Submit</button>
      <button type="submit" class=" mb-3 w-32 p-2  rounded-full to-violet-500 transition ease-in-out   hover:-translate-y-1 hover:scale-110 bg-gradient-to-r from-pink-500 to-violet-500 duration-300">Cancle</button>
      </div>
    </form>
  
   </div>
   <div class="mt-4 mb-0 rounded-lg bg-gradient-to-r p-1 from-purple-500 to-pink-500 hover:bg-gradient-to-l  text-center">
</div>
