.cart-main{
    border: 1px solid black;
    display: flex;
    width: 100%;
}

.cart-list {
  border: 1px solid blueviolet;
  width: 70%;
  padding: 10px;
}

.cart-total {
  border: 1px solid red;
  width: 30%;
  padding: 10px;
}

.cart-cover {
  display: flex;
  flex-direction: column;
}

.cart-product {
  border: 1px solid blue;
  display: flex;
  width: 90%;
  height: 265px;
  margin: auto;
}

.cart-product-image {
  border: 1px solid red;
  width: 20%;
}

.cart-product-details {
  border: 1px solid green;
  width: 80%;
}

/* .maxWidth {
    max-width: 1250px;
}

div {
    border: 1px solid red;
}

.mainBox {
    height: 600px;
}

.smallImgBox {
    height: 130px;
    overflow: hidden;
}

#deliveryCheck {
    border: hidden;
}

#productCompany {
    height: 30px;
}

#productName {
    height: 50px;
}

#productPrice {
    height: 90px;
}

.priceColor {
    color: green;
    font-size: 14px;
}

#goldMember {
    background-color: #f8f8f8;
    box-shadow: 0px 0px 4px 1px rgb(173, 173, 173);
}

#goldMember:hover {
    cursor: pointer;
    transform: scale(1.001);
    box-shadow: 0px 0px 12px 2px rgb(173, 173, 173);
}

.deliveryFontColor {
    color: #7a8090;
}

.colorGrey {
    color: rgb(156, 156, 156);
    font-size: small;
    padding-left: 2%;
} */
