<div class="cart-main">
    <div class="cart-list">
        <div class="emptyCart" *ngIf="allBooks.length==0">
            <h1>Your Cart is Empty</h1>
        </div>

        <div class="cart-cover" *ngIf="allBooks.length>0">
            <div class="cart-product" *ngFor="let book of allBooks ; index as i">
                <div class="cart-product-image">
                    <img src="{{book.imageUrl}}" />
                </div>
                <div class="cart-product-details">
                    Sr. No. : {{i+1}}<br />
                    Title : {{book.title}}<br />
                    Price : {{book.price}} Rupees<br />
                    Author : {{book.author}} <br />
                    Pages : {{book.pages}} <br />
                    <button (click)="removeItem(i)">Remove</button>
                </div>
            </div>
        </div>
    </div>
    <div class="cart-total">
        <div class="cart-bill">
            <div class="product-details">
                <table>
                    <tr>
                        <th>Items</th>
                        <th>Price</th>
                    </tr>
                    <tr *ngFor="let book of allBooks ; index as i">
                        <td>{{book.title}}</td>
                        <td>{{book.price}}</td>
                    </tr>
                    <br />
                    <tr>
                        <th>
                            <hr>
                        </th>
                        <th>
                            <hr>
                        </th>
                    </tr>
                    <tr>
                        <th>{{allBooks.length}} Items</th>
                        <th>{{ totalPrice}} ₹</th>
                    </tr>
                </table>
            </div>
            <div class="cart-description-bk"></div>

            <div class="cart-logo">
                <img alt="img" src="../../assets/images/bookLogo.jpg" />
            </div>
            <div class="cart-description">
                <p>Total Items : {{allBooks.length}}</p>
                <p>Total Price : {{ totalPrice}}</p>
            </div>
            <div class="cart-date">
                <p>{{date}}</p>
            </div>
            <div class="cart-btn">
                Check Out
            </div>
        </div>
    </div>
</div>