<div id="slider">
  <img src="{{ imgSrc }}" />
</div>
<div class="card-body">
  <div class="card-wrap" *ngFor="let book of allBooks">
    <div class="card-header">
      <img src="{{ book.imageUrl }}" />
    </div>
    <div class="card-content">
      <h1 class="card-title">{{ book.title }}</h1>
      <div class="card-detail">
        <p class="card-text">Author : {{ book.author }}</p>
        <p class="card-text">Price : {{ book.price }}</p>
      </div>
      <div class="card-plate">
        <a (click)="gotoSinglebook(book.id)">
          <button class="card-btn" (click)="onEdit()"><span class="material-symbols-outlined">
              visibility
            </span></button></a>
        <button class="card-btn" (click)="addInCart(book)">
          <span class="material-symbols-outlined">
            add_shopping_cart
          </span>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="pagination">
  <div class="pagination-child">
    <button class="pagination-button" (click)="onPrev()" [disabled]="currentPage==0">Previous Page</button>
    <button class="pagination-button" (click)="onNext()" [disabled]="lastPage==currentPage">Next Page</button>
  </div>
</div>