<div id="slider" >
  <img src="{{imgSrc}}"/>
   </div>
<div class="card-body">
  <div class="card-wrap" *ngFor="let book of allBooks">
    <div class="card-header">
      <img src="{{book.imageUrl}}"/>
    </div>
    <div class="card-content">
      <h1 class="card-title">{{book.title}}</h1>
      <div class="card-detail">
        <p class="card-text">Author : {{book.author}} </p>
        <p class="card-text">Price : {{book.price}}</p>
      </div>
      <button class="card-btn">View</button>
    </div>
  </div>
</div>

