<div class="navbar">
    <div class="nav-left">
        <div class="nav-item-left">
            <a routerLink="/">Home</a>
        </div>
        <div class="search">
            <input type="text" placeholder="Search Books....">
            <div class="search-button">
                <button>
                    <span class="material-symbols-outlined">
                        search
                    </span>
                </button>
            </div>
        </div>
    </div>
    <div class="nav-mid">

    </div>
    <div class="nav-right">
        <div class="nav-item">
            <a routerLink="/books"><span class="material-symbols-outlined">
                    library_books
                </span> Books</a>
        </div>
        <div class="nav-item">
            <a routerLink="/cart"><i class="material-symbols-outlined">
                    shopping_cart
                </i> Cart</a>
        </div>
        <div class="nav-item">
            <a routerLink="/profile"><i class="zmdi zmdi-account-circle"></i> Account</a>
        </div>

    </div>
</div>