.navbar {
  z-index: 1;
  position: fixed;
  height: 72px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #14152e, #065579);
  width: 100%;
  transition: 0.3s;
}

.topBar {
  z-index: 1;
  height: 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #0084ff, #0084ff);
  width: 100%;
  margin: auto;
}
.nav-logo {
  width: 50px;
  height: 50px;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.nav-logo img {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  object-fit: cover;
}
.nav-item-left {
  padding: 1px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  min-width: 20%;
  border-radius: 8px;
  transition: 0.3s;
  cursor: pointer;
  box-sizing: border-box;
}
.nav-item-left > a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.nav-item-left:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border: 1px solid #c4c4c4;
}

.nav-left {
  display: flex;
  width: 20%;
  justify-content: space-around;
  align-items: center;
  margin-left: 5px;
}

.nav-left > a {
  text-decoration: none;
  color: white;
  font-size: 28px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.nav-right {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 15px;
}

.top-bar-panel {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.top {
  vertical-align: top;
}

.nav-item {
  box-sizing: border-box;
  vertical-align: top;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  /* min-width: 25%; */
  padding: 8px;
  border-radius: 8px;
  transition: 0.3s;
  cursor: pointer;
}

/* .nav-item:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border: 1px solid #c4c4c4;
} */

.nav-item > a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding-left: 4px;
}

.nav-item-left > a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  width: 66%;
  border: 1px solid #c4c4c4;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}

.search input {
  height: 70%;
  width: 70%;
  margin: auto;
  border: none;
  outline: none;
  font-size: 18px;
  color: white;
  text-decoration: none !important;
  border-bottom: none;
  background: transparent;
  /* border: 1px solid white; */
}

.search input::placeholder {
  color: rgb(193, 207, 209);
}

.search input:focus {
  border: none;
  outline: none;
}

.search-button {
  width: 22%;
  /* border: 1px solid #c4c4c4; */
}

.search-button button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 20px 6px 20px;
  border-radius: 50px;
  border: none;
  margin: 8px 8px;
  background-color: #0084ff;
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;
  width: 80%;
}

.search-button button span {
  display: flex;
  font-size: 27px;
}

.visibility {
  display: none;
}

@media screen and (max-width: 600px) {
  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    background: linear-gradient(to right, #14152e, #065579);
  }

  .search {
    width: 40%;
    border: 1px solid #c4c4c4;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
  }
}
