<div class="navbar">
  <div class="nav-left">
    <div class="nav-item-left">
      <a routerLink="/">
        <div class="nav-logo">
          <img alt="img" src="../../assets/images/bookLogo.jpg" />
        </div>
        &nbsp; &nbsp;
        <h3>AB-Book Store</h3>
      </a>
    </div>
  </div>

  <div class="nav-right">
    <div class="search">
      <input type="text" placeholder="Search..." id="searchBox" />
      <div class="search-button">
        <button>
          <span class="material-symbols-outlined"> search </span>
        </button>
      </div>
    </div>
    <div class="nav-item">
      <a routerLink="/cart"
        ><span class="material-symbols-outlined"> shopping_cart </span
        ><span class="top">&nbsp;cart</span>
      </a>
    </div>
  </div>
</div>
<br />
<br />
<br />

<div id="debounceDiv"></div>

<div class="topBar">
  <div class="top-bar-panel">
    <div class="nav-item">
      <a routerLink="/books"
        ><span class="material-symbols-outlined"> library_books </span
        ><span class="top">&nbsp;Books</span>
      </a>
    </div>

    <div class="nav-item">
      <a routerLink="/profile"
        ><span class="material-symbols-outlined"> library_books </span
        ><span class="top">&nbsp;</span>Profile
      </a>
    </div>

    <div class="nav-item" *ngIf="loginStatus">
      <a routerLink="/"
        ><span class="material-symbols-outlined"> account_circle </span>
        <span class="top">&nbsp;LogOut</span></a
      >
    </div>

    <div class="nav-item" *ngIf="!loginStatus">
      <a routerLink="/auth"
        ><span class="material-symbols-outlined"> account_circle </span>
        <span class="top">&nbsp;Login/SignUp</span></a
      >
    </div>

    <div class="nav-item">
      <a routerLink="/admin"
        ><span class="material-symbols-outlined"> shopping_cart </span>
        <span class="top">&nbsp;Admin</span></a
      >
    </div>
  </div>
</div>
