<div class="navbar">
    <div class="nav-left">
        <div class="nav-item-left">
            <a routerLink="/">
                <div class="nav-logo">
                    <img alt="img" src="../../assets/images/bookLogo.jpg" />
                </div>
            </a>
        </div>
        <div class="search">
            <input type="text" placeholder="Search...">
            <div class="search-button">
                <button>
                    <span class="material-symbols-outlined">
                        search
                    </span>
                </button>
            </div>
        </div>
    </div>

    <div class="nav-right">
        <div class="nav-item">
            <a routerLink="/books"><span class="material-symbols-outlined">
                    library_books
                </span><span class="top">&nbsp;Books</span> </a>
        </div>
        <div class="nav-item">
            <a routerLink="/cart"><span class="material-symbols-outlined">
                    shopping_cart
                </span> <span class="top">&nbsp;Cart</span></a>
        </div>
        <div class="nav-item">
            <a routerLink="/admin"><span class="material-symbols-outlined">
                    account_circle
                </span> <span class="top">&nbsp;Account</span></a>
        </div>
    </div>
</div>

