.home{
    min-height: 100vh;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, #8e9eab, #eef2f3);
    color: white;
    justify-content: center;
}