.home{
    margin-top: 10px;
    min-height: 85vh;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, #b9e9d5 0%, #56d3c6 100%);
    color: white;
    justify-content: center;
}

/* .home>p>a{
    color: white;
}

.home>h4{
    color: #093c53;
} */