<form>
    <div class="mb-3">
      <label for="Book Title" class="bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500">Book Title</label>
      <input type="email" class="w-full rounded-md  border-violet-500 " name="book-title" placeholder="Book Title">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="e" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3 ">
      <input type="checkbox" class="form-check-input" id="">
      <label class="" for="checkout">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>