.signup-main {
  background: linear-gradient(to right, #8e9eab, #eef2f3);
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup {
  border: 2px solid black;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
  text-align: center;
  border-radius: 10px;
  position: absolute;
  height: 70vh;
  width: 75%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.signup-form {
  background: linear-gradient(to right, #052f57, #0b82b1);
  display: flex;
  justify-content: space-between;
  color: white;
}

.signup-content h2 {
  font-size: 30px;
}

.details {
  width: 90%;
  height: auto;
}
.register-form {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.main-details {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: left;
  height: 100%;
}
.main-details ul li {
  padding: 4px;
  color: #cce7e6;
}
.main-details ul span {
  color: white;
  font-weight: bold;
}

.main-details h1 {
  padding: 4px;
  font-size: 25px;
}

.signup-image {
  justify-content: center;
  width: 30%;
  height: auto;
}

.signup-image img {
  width: 100%;
}

.bottom-view {
  width: 100%;
  min-height: 65px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.addToCart {
  padding: 8px 28px;
  cursor: pointer;
  border: none;
  border-radius: 12px;
  font-size: 17px;
  background-color: #4caf50;
  color: white;
  transition: 0.3s;
}

.buyNow {
  background-color: #f44336;
  padding: 8px 40px;
  cursor: pointer;
  border: none;
  border-radius: 12px;
  font-size: 17px;
  color: white;
  transition: 0.3s;
}

.viewReview {
  background-color: #0084ff;
  padding: 8px 20px;
  cursor: pointer;
  border: none;
  border-radius: 12px;
  font-size: 17px;
  color: white;
  transition: 0.3s;
}

.signup-title {
  padding: 10px;
  background: linear-gradient(to right, #052f57, #0b82b1);
  color: white;
}

.rating {
  display: flex;
}

.fill {
  color: yellow;
}

@media screen and (max-width: 1000px) {
}
