<div class="signup-main">
    <div class="signup">
        <div class="signup-content">
         
          <h2 class="signup-title"> Product Description </h2>
          <br />
          <br />
          <div class="signup-form">
            <div class="signup-image">
            
                <img alt="signUp" src="{{book.imageUrl}}" />
             
            </div>
              <div class="details">
               <h2>{{book.title}}</h2>
               <h3>{{book.description}}</h3>
               <h3>{{book.author}}</h3>
               <h1>{{book.price}}</h1>
              </div>
              
          
  
           
          </div>
        </div>
      </div>
    
  </div>
  